<!DOCTYPE html>
<html>
<head>
    <title>Dauphin - Premium Responsive Bootstrap Admin Template - Chart.js charts</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="images/favicon.png"/>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300' rel='stylesheet' type='text/css'/>
    
    <!-- Styling -->
    <link rel="stylesheet" href="addons/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="addons/toastr/toastr.min.css"/>
    <link rel="stylesheet" href="addons/fontawesome/css/font-awesome.css"/>
    <link rel="stylesheet" href="addons/ionicons/css/ionicons.css"/>
    <link rel="stylesheet" href="addons/noUiSlider/nouislider.min.css"/>

    <link rel="stylesheet" href="styles/style.css"/>
    <link rel="stylesheet" href="styles/theme-blue.css" class="theme" />

    <!-- End of Styling -->
</head>
<body class="hold-transition">

    <!-- Header -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div id="navbar" class="navbar-collapse">
            	<ul class="breadcrumb">
        			<li class="breadcrumb-home"><a href=""><i class="fa fa-home"></i></a>
                    <li><a href="">Charts</a></li>
                    <li class="active"><a href="">Chart.js</a></li>
        		</ul>
                <ul class="nav navbar-nav navbar-right">
                	<li>
			            <form class="search-form form-group has-feedback">
		            		<span class="fa fa-search form-control-feedback"></span>
		            		<input type="text" class="form-control" name="search" id="search" placeholder="Search...">
			            </form> 
                	</li>
                    <li class="dropdown" id="notifications-toggle">
                        <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="#">
                        	<i class="fa fa-bell"></i>
                            <span class="label label-danger notification-label">2</span>
                        </a>
                        <ul class="list-unstyled notifications dropdown-menu">
                        	<li>
                        		<img alt="" class="img-circle small-image vcentered" src="images/profile2.png">
                        		<span class="notification-title vcentered"> 
                        			<b> Elon Musk </b> has created an <b> administrator </b> account two times already.
                        		</span>
                        		<span class="notification-time text-muted">  15m ago </span>
                        	</li>
                        	<li>
                        		<i class="fa fa-refresh small-icon text-center vcentered"></i>
                        		<span class="notification-title vcentered"> 
                        			<b> Device Boo_71 </b> has been restarted.
                        		</span>
                        		<span class="notification-time text-muted">  2h ago </span>
                        	</li>
                        	<li>
                        		<i class="fa fa-plus-square small-icon text-center vcentered"></i>
                        		<span class="notification-title vcentered"> 
                        			<b> Device Boo_72 </b> has been added.
                        		</span>
                        		<span class="notification-time text-muted">  3h ago </span>
                        	</li>
                        </ul>
                    </li>
                    <li>
                    	<a href="login.html">
                        	<i class="fa fa-sign-out"></i>
                        </a>
                    </li>
                    <li class="profile">
                        <a href="profile.html">
                            <img alt="" src="images/profile.png" class="img-circle">
                            <div class="vcentered">
	                            <p class="profile-name">Dennis Novac</p>
	                            <p class="profile-position">Web Developer</p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- End of Header -->

    <!-- Navigation -->
    <div class="navigation">
        <a class="navbar-brand">
            <img alt="" class="logo vcentered" src="images/logo.png">
            <span class="vcentered">Dauphin</span>
            <i class="fa fa-bars text-primary left-nav-toggle pull-right vcentered"></i>
        </a>
        <ul class="nav primary">
            <li>
                <a href="index.html">
                    <i class="fa fa-tasks"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li>
                <a href="messages.html">
                    <i class="fa fa-envelope"></i>
                    <span>Messages</span>
                    <span class="label label-warning left-nav-label"> 24</span>
                </a>
            </li>
            <li class="nav-item-expandable">
                <a href="#elements" data-toggle="collapse" aria-expanded="false"> 
                    <i class="fa fa-puzzle-piece"></i>
                    <span> Elements </span>
                    <span class="nav-item-icon"> <i class="fa fa-chevron-down"></i> </span>
                </a>
                <ul id="elements" class="nav nav-item collapse">
                    <li>
                        <a href="typography.html"> 
                            <i class="fa fa-text-height"></i>
                            <span> Typography </span>
                        </a>
                    </li>
                    <li>
                        <a href="panels.html"> 
                            <i class="fa fa-square-o"></i>
                            <span> Panels </span>
                        </a>
                    </li>
                    <li>
                        <a href="draggable.html"> 
                            <i class="fa fa-reorder"></i>
                            <span> Draggable </span>
                        </a>
                    </li>
                    <li>
                        <a href="tabs.html"> 
                            <i class="fa fa-clone"></i>
                            <span> Tabs </span>
                        </a>
                    </li>
                    <li>
                        <a href="buttons.html"> 
                            <i class="fa fa-flask"></i>
                            <span> Buttons </span>
                        </a>
                    </li>
                    <li>
                        <a href="icons.html"> 
                            <i class="fa fa-magic"></i>
                            <span> Icons </span>
                        </a>
                    </li>
                    <li>
                        <a href="notifications.html">
                            <i class="fa fa-warning"></i>
                            <span> Notifications </span>
                        </a>
                    </li>
                    <li>
                        <a href="progressbars.html"> 
                            <i class="fa fa-external-link-square"></i>
                            <span> Progress bars </span>
                        </a>
                    </li>
                    <li>
                        <a href="grid.html"> 
                            <i class="fa fa-th-large"></i>
                            <span> Bootstrap Grid </span>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="calendar.html">
                    <i class="fa fa-calendar"></i>
                    <span>Calendar</span>
                </a>
            </li>
            <li>
                <a href="tables.html">
                    <i class="fa fa-plus-square-o"></i>
                    <span>Tables</span>
                </a>
            </li>
            <li>
                <a href="forms.html">
                    <i class="fa fa-scissors"></i>
                    <span>Forms</span>
                </a>
            </li>
            <li class="nav-item-expandable">
                <a href="#charts" data-toggle="collapse" aria-expanded="false"> 
                    <i class="fa fa-area-chart"></i>
                    <span> Charts </span>
                    <span class="nav-item-icon"> <i class="fa fa-chevron-down"></i> </span>
                </a>
                <ul id="charts" class="nav nav-item collapse">
                    <li>
                        <a href="chartjs.html"> 
                            <i class="fa fa-bar-chart"></i>
                            <span> Chart.js </span>
                        </a>
                    </li>
                    <li>
                        <a href="morrisjs.html"> 
                            <i class="fa fa-line-chart"></i>
                            <span> Morris.js Charts </span>
                        </a>
                    </li>
                    <li>
                        <a href="flot.html"> 
                            <i class="fa fa-pie-chart"></i>
                            <span> Flot Charts </span>
                        </a>
                    </li>
                    <li>
                        <a href="rickshaw.html"> 
                            <i class="fa fa-signal"></i>
                            <span> Rickshaw Charts </span>
                        </a>
                    </li>
                    <li>
                        <a href="sparkline.html"> 
                            <i class="ion ion-arrow-graph-up-right"></i>
                            <span> Sparkline Charts </span>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="metrics.html">
                    <i class="fa fa-pie-chart"></i>
                    <span>Metrics</span>
                </a>
            </li>
            <li class="nav-item-expandable">
                <a href="#maps" data-toggle="collapse" aria-expanded="false"> 
                    <i class="fa fa-map-o"></i>
                    <span> Maps </span>
                    <span class="nav-item-icon"> <i class="fa fa-chevron-down"></i> </span>
                </a>
                <ul id="maps" class="nav nav-item collapse">
                    <li>
                        <a href="googlemaps.html"> 
                            <i class="fa fa-google"></i>
                            <span> Google Maps </span>
                        </a>
                    </li>
                    <li>
                        <a href="mapael.html"> 
                            <i class="fa fa-map-pin"></i>
                            <span> Mapael </span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item-expandable">
                <a href="#menu-levels" data-toggle="collapse" aria-expanded="false"> 
                    <i class="fa fa-sort-amount-asc"></i>
                    <span> Menu levels </span>
                    <span class="nav-item-icon"> <i class="fa fa-chevron-down"></i> </span>
                </a>
                <ul id="menu-levels" class="nav nav-item collapse">
                    <li class="nav-item-expandable">
                        <a href="#menu-levels-1" data-toggle="collapse" aria-expanded="false"> 
                            <i class="fa fa-sort"></i>
                            <span> Menu expandable</span>
                            <span class="nav-item-icon"> <i class="fa fa-chevron-down"></i> </span>
                        </a>
                        <ul id="menu-levels-1" class="nav nav-item-secondary collapse">
                            <li>
                                <a> 
                                    <i class="fa fa-star" href="#"></i>
                                    <span> Sub-menu element</span>
                                </a>
                            </li>
                            <li>
                                <a> 
                                    <i class="fa fa-star-o" href="#"></i>
                                    <span> Sub-menu element 2 </span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a> 
                            <i class="fa fa-search" href="#"></i>
                            <span> Menu element </span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item-expandable">
                <a href="#pages" data-toggle="collapse" aria-expanded="false"> 
                    <i class="fa fa-flash"></i>
                    <span> Pages </span>
                    <span class="nav-item-icon"> <i class="fa fa-chevron-down"></i> </span>
                </a>
                <ul id="pages" class="nav nav-item collapse">
                    <li>
                        <a href="404.html"> 
                            <i class="fa fa-code"></i>
                            <span> 404 </span>
                        </a>
                    </li>
                    <li>
                        <a href="sample.html"> 
                            <i class="fa fa-check-circle-o"></i>
                            <span> Sample page </span>
                        </a>
                    </li>
                    <li>
                        <a href="login.html"> 
                            <i class="fa fa-user-o"></i>
                            <span> Login </span>
                        </a>
                    </li>
                    <li>
                        <a href="register.html"> 
                            <i class="fa fa-user-plus"></i>
                            <span> Register </span>
                        </a>
                    </li>
                    <li>
                        <a href="profile.html"> 
                            <i class="fa fa-user"></i>
                            <span> Profile </span>
                        </a>
                    </li>
                    <li>
                        <a href="dragdrop.html"> 
                            <i class="fa fa-window-restore"></i>
                            <span> Drag &amp; Drop </span>
                        </a>
                    </li>
                    <li>
                        <a href="documents.html"> 
                            <i class="fa fa-file-o"></i>
                            <span> Documents </span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>

        <div class="time text-center">
            <h5 class="current-time2">&nbsp;</h5>
            <h5 class="current-time">&nbsp;</h5>
        </div>
    </div>
    <!-- End of Navigation -->

    <!-- Scroll up button -->
    <a class="scroll-up"><i class="fa fa-chevron-up"></i></a>
    <!-- End of scroll up button -->

    <!-- Main content-->
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6">
                    <div class="panel">
                        <div class="panel-heading">
                            Line Chart
                        </div>
                        <div class="panel-body">
                            <canvas id="myLineChart"></canvas>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="panel">
                        <div class="panel-heading">
                            Bar Chart
                        </div>
                        <div class="panel-body">
                            <canvas id="myBarChart"></canvas>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="panel">
                        <div class="panel-heading">
                            Radar Chart
                        </div>
                        <div class="panel-body">
                            <canvas id="myRadarChart"></canvas>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="panel">
                        <div class="panel-heading">
                            Polar Area Chart
                        </div>
                        <div class="panel-body">
                            <canvas id="myPolarAreaChart"></canvas>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="panel">
                        <div class="panel-heading">
                            Pie Chart
                        </div>
                        <div class="panel-body">
                            <canvas id="myPieChart"></canvas>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="panel">
                        <div class="panel-heading">
                            Doughnut Chart
                        </div>
                        <div class="panel-body">
                            <canvas id="myDoughnutChart"></canvas>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="panel">
                        <div class="panel-heading">
                            Bubble Chart
                        </div>
                        <div class="panel-body">
                            <canvas id="myBubbleChart"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer -->
        <div class="footer">
            <p> <b> All rights reserved </b> &copy;Dauphin Premium 2017 </p>
        </div>
        <!-- End of Footer -->
    </div>
    <!-- End of Main content-->

    <div class="scripts">

        <!-- Addons -->
        <script src="addons/jquery/jquery.min.js"></script>
        <script src="addons/jquery-ui/jquery-ui.min.js"></script>
        <script src="addons/bootstrap/js/bootstrap.min.js"></script>
        <script src="addons/fullcalendar/lib/moment.min.js"></script>
        <script src="addons/pacejs/pace.min.js"></script>

        <!-- Dauphin scripts -->
        <script src="addons/dauphin.js"></script>
        
        <!-- Current page scripts -->
        <div class="current-scripts">

            <!-- Current page addons -->
            <script src="addons/chartjs/Chart.bundle.min.js"></script>

            <!-- Charts -->
            <script>
                var ctx = $("#myLineChart");
                var dataLine = {
                    labels: ["January", "February", "March", "April", "May", "June", "July"],
                    datasets: [
                        {
                            label: "My First dataset",
                            fill: false,
                            lineTension: 0.1,
                            backgroundColor: "#2da9e9",
                            borderColor: "#2da9e9",
                            borderCapStyle: 'butt',
                            borderDash: [],
                            borderDashOffset: 0.0,
                            pointBorderColor: "rgba(75,192,192,1)",
                            pointBackgroundColor: "#fff",
                            pointBorderWidth: 1,
                            pointHoverRadius: 5,
                            pointHoverBackgroundColor: "rgba(75,192,192,1)",
                            pointHoverBorderColor: "rgba(220,220,220,1)",
                            pointHoverBorderWidth: 2,
                            pointRadius: 1,
                            pointHitRadius: 10,
                            data: [65, 59, 80, 81, 56, 55, 40],
                            spanGaps: false,
                        }
                    ]
                };
                var myLineChart = new Chart(ctx, {
                    type: 'line',
                    data: dataLine
                });


                var ctx = $("#myBarChart");
                var dataBar = {
                    labels: ["January", "February", "March", "April", "May", "June", "July"],
                    datasets: [
                        {
                            label: "My First dataset",
                            backgroundColor: [
                                'rgba(255, 99, 132, 0.2)',
                                'rgba(54, 162, 235, 0.2)',
                                'rgba(255, 206, 86, 0.2)',
                                'rgba(75, 192, 192, 0.2)',
                                'rgba(153, 102, 255, 0.2)',
                                'rgba(255, 159, 64, 0.2)'
                            ],
                            borderColor: [
                                'rgba(255,99,132,1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)',
                                'rgba(75, 192, 192, 1)',
                                'rgba(153, 102, 255, 1)',
                                'rgba(255, 159, 64, 1)'
                            ],
                            borderWidth: 1,
                            data: [65, 59, 80, 81, 56, 55, 40],
                        }
                    ]
                };
                var myBarChart = new Chart(ctx, {
                    type: 'bar',
                    data: dataBar,
                });


                var ctx = $("#myRadarChart");
                var dataRadar = {
                    labels: ["Eating", "Drinking", "Sleeping", "Designing", "Coding", "Cycling", "Running"],
                    datasets: [
                        {   
                            label: "Activities 1",
                            backgroundColor: "rgba(14,200,162,0.2)",
                            borderColor: "#0ec8a2",
                            pointBackgroundColor: "#0ec8a2",
                            pointBorderColor: "#fff",
                            pointHoverBackgroundColor: "#fff",
                            pointHoverBorderColor: "#0ec8a2",
                            data: [65, 59, 90, 81, 56, 55, 40]
                        },
                        {
                            label: "Activities 2",
                            backgroundColor: "rgba(45,169,232,0.2)",
                            borderColor: "#2da9e9",
                            pointBackgroundColor: "#2da9e9",
                            pointBorderColor: "#fff",
                            pointHoverBackgroundColor: "#fff",
                            pointHoverBorderColor: "#2da9e9",
                            data: [28, 48, 40, 19, 96, 27, 100]
                        }
                    ]
                };
                var myRadarChart = new Chart(ctx, {
                    type: 'radar',
                    data: dataRadar
                });


                var ctx = $("#myPolarAreaChart");
                var dataPolarArea = {
                    datasets: [{
                        data: [
                            21,
                            7,
                            14
                        ],
                        backgroundColor: [
                            "#0ec8a2",
                            "#314557",
                            "#2da9e9"
                        ],
                        label: 'My dataset' // for legend
                    }],
                    labels: [
                        "Green",
                        "Grey",
                        "Blue"
                    ]
                };
                var myPolarAreaChart = new Chart(ctx, {
                    type: 'polarArea',
                    data: dataPolarArea
                });


                var ctx = $("#myPieChart");
                var dataPie = {
                    labels: [
                        "Green",
                        "Grey",
                        "Blue"
                    ],
                    datasets: [
                        {
                            data: [300, 50, 100],
                            backgroundColor: [
                                "#0ec8a2",
                                "#314557",
                                "#2da9e9"
                            ]
                        }]
                };
                var myPieChart = new Chart(ctx,{
                    type: 'pie',
                    data: dataPie
                });


                var ctx = $("#myDoughnutChart");
                var dataDoughnut = {
                    labels: [
                        "Green",
                        "Grey",
                        "Blue"
                    ],
                    datasets: [
                        {
                            data: [300, 50, 100],
                            backgroundColor: [
                                "#0ec8a2",
                                "#314557",
                                "#2da9e9"
                            ]
                        }]
                };
                var myDoughnutChart = new Chart(ctx, {
                    type: 'doughnut',
                    data: dataDoughnut
                });


                var ctx = $("#myBubbleChart");
                var dataBubble = {
                    datasets: [
                        {
                            label: 'First Dataset',
                            data: [
                                {
                                    x: 20,
                                    y: 30,
                                    r: 15
                                },
                                {
                                    x: 40,
                                    y: 10,
                                    r: 10
                                },
                                {
                                    x: 30,
                                    y: 10,
                                    r: 13
                                },
                                {
                                    x: 10,
                                    y: 55,
                                    r: 15
                                },
                                {
                                    x: 40,
                                    y: 10,
                                    r: 10
                                }
                            ],
                            backgroundColor:"#2da9e9"
                        }]
                };
                var myBubbleChart = new Chart(ctx, {
                    type: 'bubble',
                    data: dataBubble
                });
            </script>
        </div>

    </div>

</body>

</html>