<!DOCTYPE html>
<html>
<head>
    <title>Dauphin - Premium Responsive Bootstrap Admin Template - Login</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="images/favicon.png"/>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300' rel='stylesheet' type='text/css'/>
    
    <!-- Styling -->
    <link rel="stylesheet" href="addons/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="addons/toastr/toastr.min.css"/>
    <link rel="stylesheet" href="addons/fontawesome/css/font-awesome.css"/>
    <link rel="stylesheet" href="addons/ionicons/css/ionicons.css"/>
    <link rel="stylesheet" href="addons/noUiSlider/nouislider.min.css"/>

    <link rel="stylesheet" href="styles/style.css"/>
    <link rel="stylesheet" href="styles/theme-blue.css" class="theme" />

    <!-- End of Styling -->
</head>
<body>

    <!-- Main content-->
    <div class="content" id="login-page">
      <div class="container-fluid">
        <div class="panel" id="login-panel">
            <div class="panel-heading">
                <i class="fa fa-unlock-alt vcentered"></i>
                <div class="vcentered">
                    <h3> Welcome </h3>
                    <h5> Please, log in:</h5>
                </div>
            </div>
            <div class="panel-body">
                <form class="row">
                  <div class="form-wrapper col-sm-6">
                      <label for="Login">Login</label>
                      <div class="form-group">
                        <input type="email" class="form-control" id="Login" placeholder="">
                      </div>
                  </div>

                  <div class="form-wrapper col-sm-6">
                      <label for="Password">Password</label>
                      <div class="form-group">
                        <input type="password" class="form-control" id="Password" placeholder="">
                      </div>
                  </div>

                  <div class="form-wrapper col-sm-12">
                      <label for="server">Select server:</label>
                      <div class="form-group">
                          <select class="form-control" id="server">
                            <option>USA Server</option>
                            <option>EU Server</option>
                          </select>
                      </div>

                      <div class="form-group">
                          <label class="checkbox checkbox-login">
                              <input type="checkbox">
                              <span class="checkbox-placeholder"></span>
                              Remember me
                          </label>
                      </div>
                  </div>
                </form>

                <a class="btn btn-lg btn-info btn-block" href="index.html">Login</a>
                <a href="register.html" class="text-center btn-block no-margin-bottom" class="login-add-text"> Not a member yet? </a>
            </div>
        </div>
      </div>
    </div>
    <!-- End of Main content-->

    <div class="scripts">

        <!-- Addons -->
        <script src="addons/jquery/jquery.min.js"></script>
        <script src="addons/jquery-ui/jquery-ui.min.js"></script>
        <script src="addons/bootstrap/js/bootstrap.min.js"></script>
        <script src="addons/toastr/toastr.min.js"></script>

        <!-- Dauphin scripts -->
        <script src="addons/dauphin.js"></script>

    </div>
    
</body>

</html>