<!DOCTYPE html>
<html>
<head>
    <title>OFACasaurus</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="{{url_for('static', filename='images/favicon.png') }}"/>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300' rel='stylesheet' type='text/css'/>
    
    <!-- Styling -->
    <link rel="stylesheet" href="{{url_for('static', filename='addons/bootstrap/css/bootstrap.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='addons/toastr/toastr.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='addons/fontawesome/css/font-awesome.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='addons/ionicons/css/ionicons.css')}}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='addons/noUiSlider/nouislider.min.css') }}"/>


    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/theme-white-dark.css') }}" class="theme"/>

    <!-- End of Styling -->

     
</head>
<body class="hold-transition">

    <!-- Header -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div id="navbar" class="navbar-collapse">
                <ul class="breadcrumb">
                    <li class="breadcrumb-home"><a href="/"><i class="fa fa-home"></i></a>
                        <li><a href="/individual">Individual Sanctions</a></li>

                        <li class="active"><a href="/indivpage">Ibrahim SULEIMAN HAMAD AL-HABLAIN</a></li>
                </ul>
            
            </div>
        </div>
    </nav>
    <!-- End of Header -->

    

    <!-- Navigation -->
    <div class="navigation">
        <a class="navbar-brand">
            <img alt="" class="logo vcentered" src="{{url_for('static', filename='images/logo.png') }}">
            <span class="vcentered">OFACasaurus</span>
            <i class="fa fa-bars text-primary left-nav-toggle pull-right vcentered"></i>
        </a>
        <ul class="nav primary">
            <li class="nav-item-expandable">
                <a href="#search" data-toggle="collapse" aria-expanded="false"> 
                    <i class="fa fa-search"></i>
                    <span> Sanctions Search </span>
                    <span class="nav-item-icon"> <i class="fa fa-chevron-down"></i> </span>
                </a>
                <ul id="search" class="nav nav-item collapse">  
                    <li>
                        <a href="/individual">
                            <i class="fa fa-user"></i>
                            <span>Individual</span>
                        </a>
                    </li>
                    <li>
                        <a href="/organization">
                            <i class="fa fa-group"></i>
                            <span>Organization</span>
                        </a>
                    </li>
                    <li>
                        <a href="/entity">
                            <i class="fa fa-building"></i>
                            <span>Entity</span>
                        </a>
                    </li>
                    <li>
                        <a href="/aircraft">
                            <i class="fa fa-plane"></i>
                            <span>Aircraft</span>
                        </a>
                    </li>
                    <li>
                        <a href="/vessel">
                            <i class="fa fa-ship"></i>
                            <span>Vessel</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="/charts">
                    <i class="fa fa-area-chart"></i>
                    <span>Charts</span>
                </a>
            </li>
            <li>
                <a href="/newsfeed">
                    <i class="fa fa-newspaper-o"></i>
                    <span>News Feed</span>
                </a>
            </li>
            <li>
                <a href="/maps">
                    <i class="fa fa-map-o"></i>
                    <span> Maps </span>
                </a>
            </li>
        </ul>

        <div class="time text-center">
            <h5 class="current-time2">&nbsp;</h5>
            <h5 class="current-time">&nbsp;</h5>
        </div>
    </div>
    <!-- End of Navigation -->

    <!-- Scroll up button -->
    <a class="scroll-up"><i class="fa fa-chevron-up"></i></a>
    <!-- End of scroll up button -->

    <!-- Main content-->
    <div class="content">
        <div class="container-fluid">
            <div class = "row">
                <div class="col-lg-8">
                    <div class="panel">
                        <div class="panel-heading">
                               
                                <div style="float:left;"><h4>Ibrahim SULEIMAN HAMAD AL-HABLAIN</h4></div>
                                <span class="label label-success"> Individual </span>
                                <div class="clear"></div>
                        </div>
                        <div class="panel-body">
                            <h4>Details:</h4>
                            <table class="table table-striped table-bordered">
                                <tr>
                                    <th style="width:15%">List:</th>
                                    <td style="width:35%">SDN</td>
                                    <th style="width:15%">Program:</th>
                                    <td style="width:35%">SDGT</td>
                                </tr>
                                <tr>
                                    <th style="width:15%">Date of Birth:</th>
                                    <td style="width:35%">17 Dec 1984</td>
                                    <th style="width:15%">Place of Birth:</th>
                                    <td style="width:35%">Buraidah, Saudi Arabia</td>
                                </tr>
                                <tr>
                                    <th style="width:15%">Nationality:</th>
                                    <td style="width:35%">Saudi Arabia</td>
                                    <th style="width:15%">Title:</th>
                                    <td style="width:35%"></td>
                                </tr>
                                <tr>
                                    <th style="width:15%">Citizenship:</th>
                                    <td style="width:35%"></td>
                                    <th style="width:15%">Remarks:</th>
                                    <td style="width:35%">Wanted by the Government of Saudi Arabia</td>
                                </tr>
                                
                            </table>
                           <h4> Identifications:</h4>
                            <table class="table table-striped table-bordered">
                                <thead>
                                        <tr>
                                            <th> Type </th>
                                            <th> ID# </th>
                                            <th> Country </th>
                                            <th> Issue Date </th>
                                            <th> Expire Date </th>
                                        </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Passport</th>
                                        <td>F800691</th>
                                        <td>Saudi Arabia</th>
                                        <td></th>
                                        <td></th>
                                    </tr>
                                </tbody>
                                
                            </table>

                            
                        </div>
                    </div>
                    <div style="width: 50%;"><h4>Designation History</h4></div>
                    <ul class="timeline list-unstyled">
                        <li class="timeline-heading" data-toggle="collapse" data-target="#timeline-content-1">
                            Last week
                        </li>
                        <li class="timeline-content collapse in" id="timeline-content-1">
                            <ul class="list-unstyled no-margin">
                                <li class="timeline-event info timeline-event-left">
                                    <i class="fa fa-calendar timeline-event-icon text-info"></i>
                                    <div class="timeline-event-text">
                                        <div class="event-upper"> 
                                            <div class="event-name"> Designation de-listed </div>
                                            <div class="event-time">
                                                <b> Today </b>
                                                <span> 12:37 PM </span>
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                        <div class="event-desc">
                                            Ibrahim SULEIMAN HAMAD AL-HABLAIN no longer listed on SDN list.
                                        </div>
                                    </div>
                                </li>
                                <li class="timeline-event warning timeline-event-right">
                                    <i class="fa fa-newspaper-o timeline-event-icon text-warning"></i>
                                    <div class="timeline-event-text">
                                        <div class="event-upper"> 
                                            <div class="event-name"> New news article </div>
                                            <div class="event-time">
                                                <b> Monday </b>
                                                <span> 11:25 AM </span>
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                        <div class="event-desc">
                                            Click to read news article involving Ibrahim SULEIMAN HAMAD AL-HABLAIN.
                                        </div>
                                    </div>
                                </li>
                                <li class="timeline-event success timeline-event-left">
                                    <i class="fa fa-plus timeline-event-icon text-success"></i>
                                    <div class="timeline-event-text">
                                        <div class="event-upper"> 
                                            <div class="event-name"> Designation updated</div>
                                            <div class="event-time">
                                                <b> Wednesday </b>
                                                <span> 09:41 AM </span>
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                        <div class="event-desc">
                                             Added passport information to designation.
                                        </div>
                                    </div>
                                </li>
                                
                            </ul>
                        </li>
                    </ul>
                    <ul class="timeline list-unstyled">
                        <li class="timeline-heading" data-toggle="collapse" data-target="#timeline-content-2">
                            March, 2017
                        </li>
                        <li class="timeline-content collapse" id="timeline-content-2">
                            <ul class="list-unstyled no-margin">
                                <li class="timeline-event timeline-event-left">
                                    <i class="fa fa-calendar timeline-event-icon text-muted"></i>
                                    <div class="timeline-event-text">
                                        <div class="event-upper"> 
                                            <div class="event-name"> Sports event </div>
                                            <div class="event-time">
                                                <b> 03/03/2017 </b>
                                                <span> 06:15 PM </span>
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                        <div class="event-desc">
                                            Everybody is invited to our "Sports evening". We will divide into teams and play such games as basketball, football, volleyball and chess.
                                        </div>
                                    </div>
                                </li>
                                <li class="timeline-event timeline-event-right">
                                    <i class="fa fa-scissors timeline-event-icon text-muted"></i>
                                    <div class="timeline-event-text">
                                        <div class="event-upper"> 
                                            <div class="event-name"> Platform restart </div>
                                            <div class="event-time">
                                                <b> 03/03/2017 </b>
                                                <span> 03:45 PM </span>
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                        <div class="event-desc">
                                            The website will be down for approximatelly 5 minutes due to new updates which require a hard restart. Thank you for understanding.
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                    
                <div class="col-lg-4 col-md-12">
                    <div class="panel">
                        <div class="panel-heading">
                            Known Organization Associations
                        </div>
                        <div class="panel-body">
                            <ul class="list-unstyled notifications notifications-panel no-border no-margin-bottom no-padding-top no-padding-bottom">
                                <li>
                                    <div class="notification-title vcentered info-combo"> 
                                        <a href="/orgnpage"> <h5 class="no-margin-top">Abdallah Azzam Brigades (AAB)</h5> </a>
                                    </div>
                                </li>
                                <li>
                                    <div class="notification-title vcentered info-combo"> 
                                        <a href="/organPage"> <h5 class="no-margin-top">JEMAA ISLAMIYAH (JI)</h5> </a>
                                    </div>
                                </li>
                                <li>
                                    <div class="notification-title vcentered info-combo"> 
                                        <a href="/organPage"> <h5 class="no-margin-top">Al-Nusrah Front (ANF)</h5> </a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                 <div class="panel">
                        <div class="panel-body">
                            <h4> Known Aliases:</h4>
                            <table class="table table-striped table-bordered">
                                <thead>
                                        <tr>
                                            <th> Type </th>
                                            <th> Category </th>
                                            <th> Name </th>
                                        </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>a.k.a</th>
                                        <td>weak</th>
                                        <td>ABU JABAL</th>
                                    </tr>
                                    <tr>
                                        <td>a.k.a</th>
                                        <td>weak</th>
                                        <td>ABU-JABAL</th>
                                    </tr>
                                    <tr>
                                        <td>a.k.a</th>
                                        <td>strong</th>
                                        <td>SULIMAN H. AL HBLIAN, Barahim</th>
                                    </tr>
                                </tbody>
                                
                            </table>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-body">
                            <h4> Search for Ibrahim SULEIMAN HAMAD AL-HABLAIN in the news:</h4>
                            <a class="btn btn-block btn-dark" href="https://www.un.org/sc/suborg/en/search/content/Ibrahim%20SULEIMAN%20HAMAD%20AL-HABLAIN">UN Sanctions</a>
                            <a class="btn btn-block btn-dark" href="https://www.google.com/search?hl=en&gl=us&tbm=nws&authuser=0&q=Ibrahim+SULEIMAN+HAMAD+AL-HABLAIN&oq=Ibrahim+SULEIMAN+HAMAD+AL-HABLAIN&gs_l=news-cc.3..43j43i53.1960.1960.0.2099.1.1.0.0.0.0.58.58.1.1.0...0.0...1ac.2.ckU1K0i8qAk">Google News</a>
                            <a class="btn btn-block btn-dark" href="https://findit.state.gov/search?query=Ibrahim+SULEIMAN+HAMAD+AL-HABLAIN&affiliate=dos_stategov&search=">State.gov</a>
                            <a class="btn btn-block btn-dark" href="cnn.com">CNN</a>
                        </div>
                </div>
                </div>
                
            </div>

        </div> 
        <!-- Footer -->
        <div class="footer">
        </div>
        <!-- End of Footer -->
    </div>
    <!-- End of Main content-->

    <div class="scripts">

   <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

        <!-- Addons -->
<script src="{{url_for('static', filename='addons/jquery/jquery.min.js') }}
"></script>
        <script src="{{url_for('static', filename='addons/jquery-ui/jquery-ui.min.js') }}
"></script>
        
        <script src="{{url_for('static', filename='addons/bootstrap/js/bootstrap.min.js') }}
"></script>
        <script src="{{url_for('static', filename='addons/fullcalendar/lib/moment.min.js') }}
"></script>
        <script src="{{url_for('static', filename='addons/pacejs/pace.min.js') }}"></script>

        <!-- Dauphin scripts -->
        <script src="{{url_for('static', filename='addons/dauphin.js') }}"></script>


        <!-- Current page scripts -->
        <div class="current-scripts">

            <!-- Current page addons -->
            <link rel="stylesheet" href="{{url_for('static', filename='addons/vectormap/vectormaps.css')}}"/>
            <script src="{{url_for('static', filename='addons/morrisjs/raphael-min.js')}}"></script>
            <script src="{{url_for('static', filename='addons/vectormap/jquery.mapael.min.js')}}"></script>
            <script src="{{url_for('static', filename='addons/vectormap/maps/world_countries.js')}}"></script>
            <script src="{{url_for('static', filename='addons/jQuery-Knob-master/jquery.knob.min.js')}}"></script>
            
            
            

            <!-- Charts -->
            <script type="text/javascript"></script>


            <!-- Maps -->
            

        </div>

    </div>

</body>

</html>