<!DOCTYPE html>
<html>
<head>
    <title>OFACasaurus</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="{{url_for('static', filename='images/favicon.png') }}"/>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300' rel='stylesheet' type='text/css'/>

    <!-- Styling -->
    <link rel="stylesheet" href="{{url_for('static', filename='addons/bootstrap/css/bootstrap.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='addons/toastr/toastr.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='addons/fontawesome/css/font-awesome.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='addons/ionicons/css/ionicons.css')}}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='addons/noUiSlider/nouislider.min.css') }}"/>


    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/theme-white-dark.css') }}" class="theme"/>

    <!-- End of Styling -->


</head>
<body class="hold-transition">

    <!-- Header -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div id="navbar" class="navbar-collapse">
                <ul class="breadcrumb">
                    <li class="breadcrumb-home"><a href="/"><i class="fa fa-home"></i></a>
                    <li class="active"><a href="/organization">Abdallah Azzam Brigades (AAB) Sanctions</a></li>
                </ul>

            </div>
        </div>
    </nav>
    <!-- End of Header -->

    <!-- Navigation -->
    <div class="navigation">
        <a class="navbar-brand">
            <img alt="" class="logo vcentered" src="{{url_for('static', filename='images/logo.png') }}">
            <span class="vcentered">OFACasaurus</span>
            <i class="fa fa-bars text-primary left-nav-toggle pull-right vcentered"></i>
        </a>
        <ul class="nav primary">
            <li class="nav-item-expandable">
                <a href="#search" data-toggle="collapse" aria-expanded="false">
                    <i class="fa fa-search"></i>
                    <span> Sanctions Search </span>
                    <span class="nav-item-icon"> <i class="fa fa-chevron-down"></i> </span>
                </a>
                <ul id="search" class="nav nav-item collapse">
                    <li>
                        <a href="/individual">
                            <i class="fa fa-user"></i>
                            <span>Individual</span>
                        </a>
                    </li>
                    <li>
                        <a href="/organization">
                            <i class="fa fa-group"></i>
                            <span>Organization</span>
                        </a>
                    </li>
                    <li>
                        <a href="/entity">
                            <i class="fa fa-building"></i>
                            <span>Entity</span>
                        </a>
                    </li>
                    <li>
                        <a href="/aircraft">
                            <i class="fa fa-plane"></i>
                            <span>Aircraft</span>
                        </a>
                    </li>
                    <li>
                        <a href="/vessel">
                            <i class="fa fa-ship"></i>
                            <span>Vessel</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item-expandable">
                <a href="#charts" data-toggle="collapse" aria-expanded="false">
                    <i class="fa fa-area-chart"></i>
                    <span> Charts </span>
                    <span class="nav-item-icon"> <i class="fa fa-chevron-down"></i> </span>
                </a>
                <ul id="charts" class="nav nav-item collapse">
                    <li>
                        <a href="chartjs.html">
                            <i class="fa fa-bar-chart"></i>
                            <span> Chart.js </span>
                        </a>
                    </li>
                    <li>
                        <a href="morrisjs.html">
                            <i class="fa fa-line-chart"></i>
                            <span> Morris.js Charts </span>
                        </a>
                    </li>
                    <li>
                        <a href="flot.html">
                            <i class="fa fa-pie-chart"></i>
                            <span> Flot Charts </span>
                        </a>
                    </li>
                    <li>
                        <a href="rickshaw.html">
                            <i class="fa fa-signal"></i>
                            <span> Rickshaw Charts </span>
                        </a>
                    </li>
                    <li>
                        <a href="sparkline.html">
                            <i class="ion ion-arrow-graph-up-right"></i>
                            <span> Sparkline Charts </span>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="metrics.html">
                    <i class="fa fa-pie-chart"></i>
                    <span>Metrics</span>
                </a>
            </li>
            <li class="nav-item-expandable">
                <a href="#maps" data-toggle="collapse" aria-expanded="false">
                    <i class="fa fa-map-o"></i>
                    <span> Maps </span>
                    <span class="nav-item-icon"> <i class="fa fa-chevron-down"></i> </span>
                </a>
                <ul id="maps" class="nav nav-item collapse">
                    <li>
                        <a href="googlemaps.html">
                            <i class="fa fa-google"></i>
                            <span> Google Maps </span>
                        </a>
                    </li>
                    <li>
                        <a href="mapael.html">
                            <i class="fa fa-map-pin"></i>
                            <span> Mapael </span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>

        <div class="time text-center">
            <h5 class="current-time2">&nbsp;</h5>
            <h5 class="current-time">&nbsp;</h5>
        </div>
    </div>
    <!-- End of Navigation -->

    <!-- Scroll up button -->
    <a class="scroll-up"><i class="fa fa-chevron-up"></i></a>
    <!-- End of scroll up button -->

    <!-- Main content-->
    <div class="content">
        <div class="container-fluid">
            <div class="col-sm-4">
                    <div class="panel">
                        <div class="panel-heading">
                            Individuals related to organization
                        </div>
                        <div class="panel-body">
                            <ul>
                                <li> 
                                    <h5> 
                                        <a href="/indivpage">JAISH AL-MUHAJIREEN WAL-ANSAR</a>
                                        <span class="label label-warning"> SDN </span>
                                    </h5>
                                    <ul>
                                        <li> Nationality: Syria </li>
                                        <li> Other organizations: ISIL Sinai Province (ISIL-SP), Al-Nusrah Front (ANF) </li>
                                    </ul>
                                </li>
                                <li> 
                                    <h5> 
                                        <a href="/indivpage">AL QARAWI, Saleh</a>
                                        <span class="label label-warning"> SDN </span>
                                    </h5>
                                    <ul>
                                        <li> Nationality: Saudi Arabia </li>
                                        <li> Other organizations: Al-Qa'ida (AQ), Popular Front for the Liberation of Palestine (PFLP) </li>
                                    </ul>
                                </li>
                                <li> 
                                    <h5> 
                                        <a href="/indivpage">SULEIMAN HAMAD AL-HABLAIN, Ibrahim</a>
                                        <span class="label label-warning"> SDN </span>
                                    </h5>
                                    <ul>
                                        <li> Nationality: Saudi Arabia </li>
                                        <li> Other organizations: JEMAA ISLAMIYAH (JI), Al-Nusrah Front (ANF) </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="panel">
                        <div class="panel-heading">
                            Designations associated with organization
                        </div>
                            <div class="panel-body">
                                <div id="bar-chart" ></div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                    <div class="panel">
                        <div class="panel-heading">
                            Breakdown of designations
                        </div>
                        <div class="panel-body">
                            <div id="pie-chart" ></div>
                        </div>
                    </div>
                </div>
                </div>
        </div>


        <!-- Footer -->
        <div class="footer">
        </div>
        <!-- End of Footer -->
    </div>
    <!-- End of Main content-->

    <div class="scripts">

  
        <!-- Addons -->
                <script src="{{url_for('static', filename='addons/jquery/jquery.min.js') }}
"></script>
        <script src="{{url_for('static', filename='addons/jquery-ui/jquery-ui.min.js') }}
"></script>

        <script src="{{url_for('static', filename='addons/bootstrap/js/bootstrap.min.js') }}
"></script>
        <script src="{{url_for('static', filename='addons/fullcalendar/lib/moment.min.js') }}
"></script>
        <script src="{{url_for('static', filename='addons/pacejs/pace.min.js') }}"></script>

        <!-- Dauphin scripts -->
        <script src="{{url_for('static', filename='addons/dauphin.js') }}"></script>


        <!-- Current page scripts -->
        <div class="current-scripts">

            <!-- Current page addons -->
            <link rel="stylesheet" href="{{url_for('static', filename='addons/morrisjs/morris.css')}}"/>
            <script src="{{url_for('static', filename='addons/morrisjs/raphael-min.js')}}"></script>
            <script src="{{url_for('static', filename='addons/morrisjs/morris.min.js')}}"></script>


            <!-- Charts -->
            <script>
                var data = [
                  { y: '2014', a: 50, b: 90},
                  { y: '2015', a: 65,  b: 75},
                  { y: '2016', a: 50,  b: 50},
                  { y: '2017', a: 75,  b: 60},
                  { y: '2018', a: 80,  b: 65},
                  { y: '2019', a: 90,  b: 70},
                  { y: '2020', a: 100, b: 75},
                  { y: '2021', a: 115, b: 75},
                  { y: '2022', a: 120, b: 85},
                  { y: '2023', a: 145, b: 85},
                  { y: '2024', a: 160, b: 95}
                ],
                config = {
                  data: data,
                  xkey: 'y',
                  ykeys: ['a', 'b'],
                  labels: ['Total Income', 'Total Outcome'],
                  fillOpacity: 0.6,
                  hideHover: 'auto',
                  behaveLikeLine: true,
                  resize: true,
                  pointFillColors:['#ffffff'],
                  pointStrokeColors: ['#2da9e9'],
                  lineColors:['#2da9e9','#0ec8a2'],
                  barColors:['#2da9e9','#0ec8a2']
                      };
                    
                    config.element = 'bar-chart';
                    Morris.Bar(config);
                    Morris.Donut({
                      element: 'pie-chart',
                      data: [
                        {label: "Aircraft", value: 0},
                        {label: "Entity", value: 1},
                        {label: "Individual", value: 3},
                        {label: "Vessel", value: 2}
                      ]
                      ,
                      colors:['#2da9e9', '#314557', '#0ec8a2', '#314557']
                    });
            


                //  -------  Line chart  -------

            </script>
        </div>

    </div>

</body>

</html>
