<!DOCTYPE html>
<!-- TODO: find template to use instead-->
<html lang="en">

<head>
    <title>OFAC 2.0</title>


    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">


    <!-- CSS -->
    <style>
      .image-slider {
        width: 10%;
        height: 05%;
      }

      .center-image {
      float:center;
      }

      .img-container{
        /*float:left;*/
        display: inline-block;
        vertical-align: middle;
      }

      .container{
        text-align: center;
      }
    </style>



</head>

<body>

    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="#">Home</a>
                    </li>
                    <li role="presentation"><a href="/pageone">Page One</a>
                    </li>
                    <li role="presentation"><a href="/pagetwo">Page Two</a>
                    <li role="presentation"><a href="/exec">DB</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">OFAC 2.0</h3>
        </div>
        <div class="jumbotron">
            <h1>DATABASE</h1>
            <p class="lead"></p>
            <p><a class="btn btn-lg btn-success" href="pageone" role="button">Search OFAC</a>
            </p>
        </div>

        <!--image-slider-->
        <div class = "img-container">
          <a href="/individual">
            <img src="/static/person.png" style="width:100px;height:140px;"/>
            </a>
            <a href="/organization">
            <img src="/static/group.jpg" style="width:100px;height:140px;"/>
            </a>
            <a href="/aircraft">
            <img src="/static/aircraft.jpg" style="width:100px;height:140px;"/>
            </a>
            <a href="/vessel">
            <img src="/static/vessel.jpg" style="width:100px;height:140px;"/>
          </a>

          <body>
        </div>

        <div class="row marketing">
            <div class="col-lg-6">
                <h4>Bruce Wayne is Batman</h4>
                <p>*suprise* *suprise*</p>
            </div>

            <div class="col-lg-6">
                <h4>Who is the Flash?</h4>
                <p>Barry Allen</p>

                <p>Wally West</p>

                <button formaction="/burundi" type="button">SHOW ME DA BURUNDI</button>

              <form action="/burundi" method=get>
                <input type=submit></input>
                </form>

            </div>
        </div>

        <footer class="footer">
            <p>&copy; Company 2017</p>
        </footer>

    </div>
</body>

</html>
